@use "../../helpers/variables" as *;

body.admin-body {
  background-color: $darkGrey;

  div.admin-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: minmax(100vh, auto);
    grid-template-areas:
      "admin-sidebar admin-content";

    div.admin-sidebar {
      grid-area: admin-sidebar;
      position: sticky;
      top: 0;
      height: 100vh;
      background-color: $greyNineteen;

      div.admin-logo-and-website-name-container {
        display: flex;
        align-items: center;
        background-color: #002c58;
        justify-content: center;
        height: 75px;

        img {
          width: 9%;
          margin-left: -30px;
        }

        p {
          margin: 0 0 0 10px;
        }
      }
    }

    div.admin-content {
      grid-area: admin-content;
      display: grid;
      grid-template-columns: 1fr 1200px 1fr;
      grid-template-rows: 75px repeat(2, min-content);
      grid-template-areas:
              "admin-top-infos admin-top-infos admin-top-infos"
              ". admin-main-title ."
              ". admin-sub-title ."
              ". admin-sub-content ."
      ;

      div.admin-top-infos {
        grid-area: admin-top-infos;
        background-color: #416183;

        div.admin-top-infos-child {
          width: 1200px;
          height: 100%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      div.admin-main-title {
        grid-area: admin-main-title;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      div.admin-sub-title {
        grid-area: admin-sub-title;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h4 {
          margin: 0;
        }
      }

      div.admin-sub-content {
        grid-area: admin-sub-content;
        width: 1200px;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 75px;

        div.btn-container {
          display: flex;
          justify-content: flex-end;
        }
      }

    }
  }
}