body.path-admin-skills {

  div.btn-container {
    text-align: right;
    margin-bottom: 45px;
  }

  p.skills-updating {
    background-color: #17a2b8;
    color: white;
    padding: 15px;
    display: none;

    &.active {
      display: unset;
    }
  }

  p.skills-update-success {
    background-color: #28a745;
    color: white;
    padding: 15px;
    display: none;

    &.active {
      display: unset;
    }
  }

  div.skills-order-container {

    div.skills-order {
      display: flex;
      border: 1px dashed white;
      margin-bottom: 45px;
      min-height: 136px;

      div.skill {
        padding: 12px;
        border: 1px solid white;
        cursor: grab;
        user-select: none;
        text-align: center;

        &:active {
          cursor: grabbing;
        }

        &.dragging {
          opacity: .5;
        }

        img {
          pointer-events: none;
        }

        p {
          color: white;
          font-size: 11px;
        }
      }
    }
  }
}