<header>
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">à propos</a></li>
            <li><a href="#">compétences</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
</header>