<div class="options-container" id="options-container" data-url="{{ path('app_admin_skills_image') }}">
    <template id="crop-image-yn-template">
        <p class="white">Cropper l'image ?</p>
        <button id="crop-btn-yes" class="generic-button primary crop-btn-yes">Oui</button>
        <button id="crop-btn-no" class="generic-button secondary">Non</button>
    </template>

    <template id="crop-options-template">
        <div class="img-infos">
            <h4 class="white text-center">Détails de l'image</h4>
            <div class="img-infos-label-input-container">
                <div>
                    <label for="width">Largeur (px)</label>
                    <input type="number" name="width" id="width" readonly>
                </div>
                <div>
                    <label for="height">Hauteur (px)</label>
                    <input type="number" name="height" id="height" readonly>
                </div>
                <div>
                    <label for="size">Taille</label>
                    <input type="number" name="size" id="size" readonly>
                </div>
            </div>
        </div>

        <hr>

        <div class="crop-options">
            <h4 class="white text-center">Détails du crop</h4>
            <div class="img-infos-label-input-container">
                <div>
                    <label for="width">Largeur (px)</label>
                    <input type="number" name="width" id="width" readonly>
                </div>
                <div>
                    <label for="height">Hauteur (px)</label>
                    <input type="number" name="height" id="height" readonly>
                </div>
                <div>
                    <label for="x-pos">Position en X (px)</label>
                    <input type="number" name="x-pos" id="x-pos" readonly>
                </div>
                <div>
                    <label for="y-pos">Position en Y (px)</label>
                    <input type="number" name="y-pos" id="y-pos" readonly>
                </div>
            </div>
        </div>

        <div class="btn-container">
            <button id="crop-options-btn" class="generic-blue-button">Cropper</button>
            <button id="reset-options-btn" class="generic-blue-button">Reset</button>
            <button id="cancel-options-btn" class="generic-blue-button">Annuler</button>
        </div>
    </template>

    <template id="modal">

    </template>

    <div class="crop-image-yn-container"></div>
    <div class="crop-options-container"></div>
    <div class="modal">
        <div class="modal-content">
            <span class="close-modal">×</span>
            <div class="modal-header">
                <h4>Cropper</h4>
            </div>
            <div class="modal-body">
                <div class="img-to-crop"></div>
                <div class="options">
                    <h4 class="text-center uppercase">Détails de l'image</h4>
                    <div class="img-infos-label-input-container img-infos">
                        <div>
                            <label for="width">Largeur (px)</label>
                            <input type="number" name="width" id="width" readonly>
                        </div>
                        <div>
                            <label for="height">Hauteur (px)</label>
                            <input type="number" name="height" id="height" readonly>
                        </div>
                        <div>
                            <label for="size">Taille</label>
                            <input type="number" name="size" id="size" readonly>
                        </div>
                    </div>

                    <h4 class="text-center uppercase">Détails du crop</h4>
                    <div class="img-infos-label-input-container crop-infos">
                        <div>
                            <label for="width">Largeur (px)</label>
                            <input type="number" name="width" id="width" readonly>
                        </div>
                        <div>
                            <label for="height">Hauteur (px)</label>
                            <input type="number" name="height" id="height" readonly>
                        </div>
                        <div>
                            <label for="x-pos">Position en X (px)</label>
                            <input type="number" name="x-pos" id="x-pos" readonly>
                        </div>
                        <div>
                            <label for="y-pos">Position en Y (px)</label>
                            <input type="number" name="y-pos" id="y-pos" readonly>
                        </div>
                    </div>
                    <div class="crop-btn-container">
                        <button id="crop" class="generic-button primary">Cropper</button>
                        <button id="reset" class="generic-button secondary">Reset</button>
                        <button id="cancel" class="generic-button secondary">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>