section.contact-section {

  form {

    & > div {
      margin-bottom: 30px;
    }

    label {
      padding: 5px 0;
      letter-spacing: 1px;
    }

    input, textarea {
      padding: 10px;
      font-size: 15px;
      border: none;
      border-bottom: 1px solid #d7d7d7;
      transition: background-color .3s;

      &:focus-visible {
        outline: none;
        background-color: #f6f6f6;
      }
    }

    textarea {
      height: 100px;
      resize: none;
    }

    div.form-name {
      display: flex;
      flex-direction: row;

      div {
        position: relative;
        width: 50%;

        &:nth-child(1) {
          margin-right: 30px;
        }

        &:nth-child(2) {
          margin-left: 30px;
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
}