footer.footer {
  padding: 20px 0;
  background-color: #002C58;

  div.social-medias {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    a {
      padding: 13px;
      background-color: white;
      border-radius: 50%;
      transition: background-color .3s;

      &:hover {
        background-color: #aaa;
      }

      &:nth-child(2) {
        margin: 0 20px;
      }

      i {
        font-size: 23px;
        color: #002C58;
      }
    }
  }

  p.copyright {
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
}