body {
  margin: 0;
  padding: 0;
  overflow-y: auto;

  main {

    section.main-section {
      background-color: #002C58;
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      div.main-title-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 10%;
          margin-right: 30px;
        }

        h1 {
          font-size: 70px;
          letter-spacing: 13px;
        }
      }

      h2 {
        position: relative;
        font-size: 14px;
        letter-spacing: 2px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: -5px;
          width: 3px;
          height: 100%;
          background-color: #1e90ff;
          animation: blinkCursor 0.8s steps(3) infinite;
        }
      }

      a.icon-angle-down {
        z-index: 5;
        font-size: 30px;
        color: white;
        animation: mover 1.2s ease-in-out infinite alternate-reverse;

        i {
          padding: 30px;
        }
      }
    }
  }
}