body {
  header {
    position: fixed;
    justify-content: center;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        padding: 15px 10px;

        a {
          text-transform: uppercase;
          color: #FFFFFF;
          letter-spacing: 1px;
          font-size: 14px;
        }
      }
    }
  }
}