body {
  header {
    position: fixed;
    justify-content: center;
    z-index: 5;
    right: 0;
    left: 0;
    top: 0;

    &.active {
      background-color: rgba(25, 28, 31, 0.8);
    }

    ul {
      display: flex;
      justify-content: space-between;

      li {
        padding: 15px 10px;

        &.active {

          a {
            color: #1E90FF;
          }
        }

        a {
          text-transform: uppercase;
          color: #FFFFFF;
          letter-spacing: 1px;
          font-size: 14px;
        }
      }
    }
  }
}