section.single-project-section {
  margin-top: 150px;

  div.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    figure {
      text-align: center;
    }

    div.single-project-images {

      div.carousel {
        position: relative;
        width: 575px;
        margin: 0 auto 70px;

        div.slider {
          display: flex;
          overflow: hidden;
          position: relative;

          img {
            width: 575px;
            height: auto;
            transition: opacity .4s;
            opacity: 0;

            &.active {
              opacity: 1;
            }
          }
        }

        div.prev-next-container {

          div.slider-btn {
            position: absolute;
            top: calc(50% - (50px / 2));
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            cursor: pointer;
            z-index: 4;
            background-color: #002c58;
            color: white;
            border-radius: 50%;

            i {
              font-size: 17px;
            }

            &.previous {
              left: -60px;
            }

            &.next {
              right: -60px;
            }
          }
        }

        div.dots-navigation {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: -26px;
          left: calc(50% - (60px/2));

          div.dot {
            width: 12px;
            height: 12px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: #cdcdcd;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
              background-color: #002c58;
            }

            &.active {
              background-color: #002c58;
            }
          }
        }
      }
    }
  }
}