section.skills-section {
  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  div.sort-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;

    p {
      margin: 0 10px;
      padding: 5px 10px;
      background-color: white;
      color: #002c58;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid #002c58;
      transition: color .3s, background-color .3s;

      &:hover, &.active {
        background-color: #002c58;
        color: white;
      }
    }
  }

  div.skills-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 50px;

    div.skill-container {
      background: #fbfbfb;
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      padding: 20px;
      cursor: pointer;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: #007bff;
        width: 0;
        transition: width .5s, left .5s;
      }

      &:hover {

        &:before {
          height: 5px;
          width: 100%;
          left: 0;
        }
      }

      &:not(:hover) {

        &:before {
          height: 5px;
          width: 0;
          left: 50%;
        }
      }

      div.skill-img-container {
        text-align: center;

        img.skill-img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
      }

      p.skill-name {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: #a9a9a9;
        letter-spacing: 2px;
      }
    }
  }
}