<ul class="admin-menu">
    <li><a href="{{ path('app_admin_dashboard') }}" class="admin-menu-item"><i class="fa-solid fa-grip-lines icon-12"></i>Dashboard</a></li>
    <li><a href="{{ path('app_admin_users') }}" class="admin-menu-item"><i class="fa-solid fa-user icon-12"></i>Utilisateurs</a></li>
    <li><a href="{{ path('app_admin_skills') }}" class="admin-menu-item"><i class="fa-solid fa-code icon-12"></i>Compétences</a></li>
    <li><a href="#" class="admin-menu-item"><i class="fa-solid fa-folder-open icon-12"></i>Portfolio</a></li>
    <li><a href="{{ path('app_home') }}"><i class="fa-solid fa-house icon-12"></i>Retour au site</a></li>
</ul>