<ul class="admin-menu">
    <li><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
    <li><a href="{{ path('app_admin_users') }}"><i class="fa-solid fa-user icon-12"></i>Users</a></li>
    <li><a href="#">Pages</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="{{ path('app_home') }}"><i class="fa-solid fa-house icon-12"></i>Back to website</a></li>
</ul>