<div class="admin-sidebar">
    <div class="admin-logo-and-website-name-container">
        <img src="{{ asset('img/logo/logo.png') }}" alt="logo damienweb">
        <p class="white">{{ app_name }}</p>
    </div>

    {{ include('admin/partials/_menu.html.twig') }}
</div>