<div class="admin-sidebar">
    <p></p>
    <p class="white no-margin">Bonjour <strong>{{ app.user.name }}</strong></p>
    <p class="white"><i class="fa-solid fa-caret-right"></i> Environnement<strong class="uppercase" style="color: #ff4949;"> {{ app.environment }}</strong></p>
    <h2 class="white uppercase greyNinety">menu</h2>
    {{ include('admin/partials/_menu.html.twig') }}
</div>