<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Développeur web php/symfony">
        <meta name="keywords" content="html, css, php, javascript, symfony, web development">
        <meta name="author" content="Damien A.">
        <title>Portfolio de DamienWeb - Développeur web php/symfony{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/img/logo/favicon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/main.css">
{#            {{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="/js/main.js" defer></script>
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    {# if the pathinfo matches /portfolio/something-something- etc #}
    <body class="front-body {% if app.request.pathInfo matches '#\/portfolio\/(?:[a-z]+-?){1,}#' %}single-project{% endif %}">
        {# MENU #}
        {{ include('/frontend/section/menu.html.twig') }}

        {% block body %}{% endblock %}

        {# FOOTER #}
        {{ include('/frontend/section/footer.html.twig') }}
    </body>
</html>
