{% extends 'layouts/admin/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit">Create User</button>
    {{ form_end(form) }}
{% endblock %}
