{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
    <div class="admin-sub-title">
        <h2 class="white padding-30">{{ currentPage }}</h2>
    </div>

    <div class="admin-sub-content">
        <h3>Éditer l'utilisateur {{ user.name }}</h3>

        {{ include ('/admin/partials/_form.html.twig', { btnTextContent: 'Éditer' }) }}
    </div>
{% endblock %}
