{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <h1>Éditer l'utilisateur {{ user.name }}</h1>

    {{ include ('/admin/partials/_user_create_update_form.html.twig', { btnTextContent: 'Éditer' }) }}
{% endblock %}
