@use "../helpers/_variables" as *;

.generic-button {
  color: $white;
  padding: 10px 20px;
  border-radius: 3px;
  transition: background-color .5s;
  border-width: 0;
  cursor: pointer;

  &:hover {
    border-width: 0;
  }

  &.primary {
    background-color: #007bff;
    border-color: #007bff;

    &:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  }

  &.secondary {
    background-color: #6c757d;
    border-color: #6c757d;

    &:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }
  }
}