@use "../helpers/_variables" as *;

a.admin-btn-action-container {
  color: $white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 3px;

  &.add-user-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}