@use "../helpers/_variables" as *;

body {

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;

    li {

      a {
        color: $white;
      }
    }

    &.admin-menu {

      li {
        padding: 20px 0 20px 30px;

        a {
          color: white;
          padding: 10px 20px 10px 10px;
          transition: background-color .2s;
          font-size: 14px;

          &.active {
            background-color: #4a4a4a;
          }

          &:hover {
            background-color: #4a4a4a;
          }

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}