@use "../helpers/_variables" as *;

body {

  table.admin-table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 1px;
    margin-right: auto;
    margin-left: auto;

    tr {

      &:nth-child(even) {
        background-color: #2a2a2a;
      }

      &:nth-child(1) {
        background-color: #416183;
      }

      th, td {
        border: none;
        color: $greyNinety;
        height: 50px;
        padding-left: 15px;

        &:last-child {
          text-align: center;
          padding-left: 0;
        }
      }

      th {
        text-align: left;

        &:nth-child(1) {
          width: 5%;
        }
      }

      td {

        span {
          background-color: #343a40;
          color: white;
          padding: 5px 11px;
          border-radius: 4px;
          font-weight: bold;
        }

        i {
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #3b3d3e;
          }

          &.active {
            background-color: #3b3d3e;
          }
        }

        div.admin-popup-actions {
          background-color: #3b3d3e;
          z-index: 3;
          left: 109px;
          width: 150px;
          height: 81px;
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          &.active {
            display: flex;
          }

          a {
            width: 70%;
            padding: 5px 0;
            transition: 0.3s;

            &:hover {
              background-color: #416183;
            }
          }

          hr {
            border: none;
            background-color: #AAAAAA;
            width: 60px;
            height: 1px;
            margin: 0;
          }
        }
      }
    }
  }
}