{% extends 'admin/layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="admin-sub-title">
        <h4 class="white text-center admin-parts-title">Partie {{ currentPage }}</h4>
    </div>

    <div class="admin-sub-content">
        <h5>Ajouter un projet</h5>
        {{ include('/admin/partials/_user_create_update_form.html.twig', { btnTextContent: 'Ajouter' }) }}
    </div>
{% endblock %}