{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <h4 class="white text-center admin-parts-title">Partie {{ currentPage }}</h4>
{% endblock %}
