/* COLORS */
$white: #ffffff;
$black: #000000;
$greyNineteen: #303030;
$darkGrey: #222222;
$greyNinety: #e5e5e5;
$greySeventyOne: #b5b5b5;

$adminColors: (
  sidebar: $greyNineteen,
  mainSection: $darkGrey
);