<section class="about-section" id="about-section-id">
    <h2>à propos</h2>
    <h3>qui suis-je</h3>
    <p>
        Je m'appelle Damien et j'habite dans le département du VAR.
        Développeur web et passionné par l'informatique en général, je me suis lancé depuis peu
        comme freelance pour répondre à une demande croissante.
    </p>
    <p>
        J'essaie d'élargir au maximum
        mes compétences pour devenir le plus autonome possible.
        Je suis un développeur full-stack mais avec une préférence pour le back-end.
    </p>
</section>