<section class="contact-section">
    <h2>Contact</h2>
    <h3>N'hésitez pas à me contacter</h3>
    {{ include ('/admin/partials/_user_create_update_form.html.twig', { btnTextContent: 'Envoyer' }) }}
</section>