<footer class="footer" id="footer-id">
    <div class="social-medias">
        <p>Mail</p>
        <p>LinkedIn</p>
        <p>Github</p>
    </div>
    <p class="copyright">DamienWeb &copy; {{ 'now'|date('Y') }}</p>
</footer>