<footer class="footer" id="footer-id">
    <div class="social-medias">
        <a href="#" title="lien pour me contacter">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/damien-a-36b86618b/" target="_blank" title="lien vers mon linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/DamienA062" target="_blank" title="lien vers mon github">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <p class="copyright">{{ app_name}} &copy; {{ 'now'|date('Y') }}</p>
</footer>