<section class="main-section" id="main-section-id">
    <h1>Damien A.</h1>
    <h2>Je suis développeur web php/symphony</h2>
    <a href="#about-section-id" class="icon-angle-down"><i class="fa-solid fa-angle-down"></i></a>
</section>