<section class="main-section" id="main-section-id">
    <div class="main-title-container">
        <img src="img/logo/logo.png" alt="logo damienweb">
        <h1 class="white">{{ app_name }}</h1>
    </div>
    <h2 data-typewriter-animation class="white">Je suis Damien, <span>développeur web fullstack et freelance</span></h2>
    <a href="#about-section-id" class="icon-angle-down" title="lien vers la section à propos"><i class="fa-solid fa-angle-down"></i></a>
</section>