<section class="main-section" id="main-section-id">
    <div class="main-title-container">
        <img src="img/logo/logo.jpg" alt="">
        <h1 class="white">DamienWeb</h1>
    </div>
    <h2 data-typewriter-animation class="white">Je suis Damien, <span>développeur web full-stack et freelance</span></h2>
    <a href="#about-section-id" class="icon-angle-down"><i class="fa-solid fa-angle-down"></i></a>
</section>