<section class="main-section" id="main-section-id">
    <h1>DamienWeb</h1>
    <h2 data-typewriter-animation="true">Je suis Damien, <span>développeur web full-stack et freelance</span></h2>
    <a href="#about-section-id" class="icon-angle-down"><i class="fa-solid fa-angle-down"></i></a>
</section>