<header class="flex">
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#about-section-id">à propos</a></li>
            <li><a href="#skills-section-id">compétences</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">contact</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_admin_dashboard') }}">administration</a></li>
            {% endif %}
        </ul>
    </nav>
</header>