<section class="skills-section" id="skills-section-id">
    <h2>compétences</h2>
    <h3>les technologies que j'utilise</h3>
    <div class="skills-container">
        {% for skill in skills %}
            <div class="skill-container">
                <div class="skill-img-container">
                    <img class="skill-img" src="/img/upload/skills/{{ skill.image }}" alt="">
                </div>
                <p class="skill-name">
                    {{ skill.name }}
                </p>
            </div>
        {% endfor %}
    </div>
</section>